<!doctype html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>

<div id="wrapper">
    <div id="hd">
    {{#if user}}
    <div>Logged in as: {{user.username}} (<a href="/logout">Logout</a>)
    </div> 
    {{/if}}
        <h1>Task Diary</h1>
    </div>
    <div id="bd">
        {{{body}}}
    </div>

    {{#if user}}
    <div>Return to <a href="/main">Main</a>
    </div> 
    {{/if}}

</div>

</body>


</html>