<!doctype html>
<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>


<body>

<div id="wrapper">
    
    <div id="bd">
        {{{body}}}
    </div>

</div>

</body>


</html>