
{{#if user}}
<ul>
    <li><h2><a href="/main/current">Current Tasks</a></h2></li>
    <li><h2><a href="/main/completed">Completed Tasks</a></h2></li>
    <li><h2><a href="/main/diary">Diary</a></h2></li>
    <li><h2><a href="/MemoryGame/memory.html">Memory Game</a></h2></li>
</ul>
{{else}}
    <a href="/login">Login</a> or <a href="/register">Register</a>
{{/if}}