
{{#if user}}
<ul>
    <li><h2><a href="/main/current">Current Tasks</a></h2></li>
    <li><h2><a href="/main/completed">Completed Tasks</a></h2></li>
    <li><h2><a href="/main/diary">Diary</a></h2></li>
    <li><h2><a href="/main/memoryGame">Memory Game</a></h2></li>
</ul>
{{/if}}